<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introBallLevel</key>
	<true/>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>0.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>1.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>2</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>2.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>3</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>3.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>4</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>4.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>120.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>121</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>121.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>122</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>122.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>123</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>123.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>124</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>124.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>240</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>240.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>241</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>241.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>242</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>242.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>243</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>243.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>244</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>244.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>360</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>360.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>361</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>361.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>362</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>362.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>363</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>363.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>364</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>364.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>480</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>480.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>481</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>481.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>482</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>482.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>483</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>483.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>484</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>484.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>0.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>1.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>2</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>2.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>3</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>3.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>4</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>4.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>120.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>121</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>121.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>122</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>122.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>123</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>123.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>124</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>124.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>240</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>240.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>241</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>241.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>242</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>242.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>243</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>243.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>244</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>244.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>360</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>360.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>361</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>361.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>362</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>362.5</real>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>363</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>363.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>364</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>364.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>480</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>480.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>481</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>481.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>482</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>482.5</real>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>483</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>483.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>484</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<real>484.5</real>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>maxBallValue</key>
	<integer>7</integer>
</dict>
</plist>
