<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introBallLevel</key>
	<false/>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>160</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>160</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>160</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>160</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>160</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>160</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>160</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>160</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>200</string>
			<key>enemyType</key>
			<string>0</string>
		</dict>
	</array>
	<key>maxBallValue</key>
	<integer>5</integer>
</dict>
</plist>
