<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introBallLevel</key>
	<false/>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>60</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>65</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>70</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>75</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>85</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>90</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>95</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>100</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>105</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>110</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>115</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>120</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>125</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>130</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>135</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>140</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>145</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>150</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>155</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>160</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>165</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>170</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<string>175</string>
			<key>enemyType</key>
			<string>2</string>
		</dict>
	</array>
	<key>maxBallValue</key>
	<integer>8</integer>
</dict>
</plist>
