<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introBallLevel</key>
	<false/>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>0</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>2</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>4</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>20</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>20</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>40</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>60</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>60</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>80</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>90</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>92</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>94</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>110</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>110</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>130</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>130</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>140</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>140</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>140</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>150</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>150</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>150</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>170</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>172</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>174</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>190</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>190</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>210</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>210</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>210</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>230</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>230</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>250</integer>
			<key>enemyType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>250</integer>
			<key>enemyType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>250</integer>
			<key>enemyType</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>maxBallValue</key>
	<integer>8</integer>
</dict>
</plist>
