<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paddleShip_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,22}}</string>
                <key>sourceSize</key>
                <string>{240,22}</string>
            </dict>
            <key>paddleShip_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{240,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,22}}</string>
                <key>sourceSize</key>
                <string>{240,22}</string>
            </dict>
            <key>paddleShip_normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{240,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,22}}</string>
                <key>sourceSize</key>
                <string>{240,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ship_normal.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b543c783cac7a33f5937d1a7333611$</string>
            <key>textureFileName</key>
            <string>ship_normal.png</string>
        </dict>
    </dict>
</plist>
