<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{45,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,66}}</string>
			<key>sourceSize</key>
			<string>{45,66}</string>
		</dict>
		<key>frame_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,0},{45,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,66}}</string>
			<key>sourceSize</key>
			<string>{45,66}</string>
		</dict>
		<key>frame_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{45,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,66}}</string>
			<key>sourceSize</key>
			<string>{45,66}</string>
		</dict>
		<key>frame_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,66},{45,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,66}}</string>
			<key>sourceSize</key>
			<string>{45,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>red_orb_new.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e01356933c3a114fde62d373454df2ea$</string>
		<key>textureFileName</key>
		<string>red_orb_new.png</string>
	</dict>
</dict>
</plist>
