<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>main_menu_button_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{190,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,26}}</string>
			<key>sourceSize</key>
			<string>{190,26}</string>
		</dict>
		<key>main_menu_button_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,26},{190,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,26}}</string>
			<key>sourceSize</key>
			<string>{190,26}</string>
		</dict>
		<key>main_menu_button_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,52},{190,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,26}}</string>
			<key>sourceSize</key>
			<string>{190,26}</string>
		</dict>
		<key>main_menu_button_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,26},{190,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,26}}</string>
			<key>sourceSize</key>
			<string>{190,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>main_menu_button.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3aaa5bb3141b27adccd64a465ca65129$</string>
		<key>textureFileName</key>
		<string>main_menu_button.png</string>
	</dict>
</dict>
</plist>
